{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Add Book</h1>
<form action="" method="POST" enctype = "multipart/form-data">

   <div class = "form-group">
      <label for = "name">Judul Buku</label>
      <input type = "text" class = "form-control" placeholder = "Masukkan Judul" name="judul">
   </div>
   <div class = "form-group">
      <label for = "category">Kategori :</label>
      <select name="category" class="form-control">
         {% for category in categories %}
         <option>{{ category.name }}</option>
         {% endfor %}
      </select>
   </div>
   <div class = "form-group">
      <label for = "author">Author</label>
      <input type = "text" class = "form-control" placeholder = "Masukkan Penulis" name="author">
   </div>
   <div class = "form-group">
      <label for = "year">Tahun Cetak</label>
      <input type = "number" class = "form-control" placeholder = "Masukkan Tahun Cetak" name="year">
   </div>
   <div class = "form-group">
      <label for = "desc">Deskripsi</label>
      <textarea name="desc" class="form-control"></textarea>
   </div>
   <div class = "form-group">
      <label for = "inputfile">Foto Buku</label>
      <input type = "file" id = "inputfile" accept="image/*" name="foto">
   </div>
   
   <button type = "submit" class = "btn btn-primary">Submit</button>
</form>
{% include 'foot.html' %}