{% include 'head.html' %}
{% include 'nav.html' %}

   <h1>Books List By Category</h1>
<div class="row">
<div class="col-md-2">
   <h2>Category</h2>
   {% include 'categories-navbar.html' %}
</div>
<div class="col-md-10">
   <div class="row">
      {% for book in books %} 
      <div class="col-md-4" style="padding:15px;">
         <a href="/detail/{{book.id}}">
            <div style="display:inline-block; border:solid 1px #808080; padding:15px">
              <div>
                <img class="img-responsive" alt="" src="data:image/jpg;base64, {{book.image}}" style="height: 200px; width: auto" />
                <h4>{{book.title}}</h4>
             </div>
          </div>
           </a>
       </div>
      {% endfor %}
   </div>
</div>

</div>

{% include 'foot.html' %}