<!DOCTYPE html>
<html lang = "en">

<head>
   <meta charset = "utf-8">
   <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
   <meta name = "viewport" content = "width = device-width, initial-scale = 1">

   <title>Readaz | Amazing motto here ACME</title>

   <!-- Bootstrap -->
   <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
	