{% include 'head.html' %}
{% include 'nav.html' %}

   <h1>Books List</h1>
<div class="row">
<div class="col-md-2">
   <h2>Category</h2>
   {% include 'categories-navbar.html' %}
</div>
<div class="col-md-10">
   <div class="row">
      {% for book in books %} 
            <a href="/detail/{{ book.id }}">
            <div class="card col-lg-2 col-md-4 col-sm-6" style="margin-right: 10px; margin-top: 10px">
              <img src="data:image/jpg;base64, {{book.image}}" style="width:100%">
                <h5><b>{{book.title}}</b></h5>
                <p>{{ book.author }}</p>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <br/>
          </div> 
       </a>
      {% endfor %}

   </div>
</div>

</div>

{% include 'foot.html' %}