{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Sign In</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="" method="post" novalidate>
     <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class_="form-control") }}
  </div>
  <div class="checkbox">
   <label>
      {{ form.remember_me() }} {{ form.remember_me.label }}
   </label>
  </div>
  {{ form.submit(class_="btn btn-primary") }}
</form>

{% include 'foot.html' %}