   <nav class = "navbar navbar-inverse" role = "navigation">

      <div class = "navbar-header">
         <a class = "navbar-brand" href = "#">Readaz</a>
      </div>

      <div>
         <ul class = "nav navbar-nav">
            <li class = ""><a href = "/">Home</a></li>
            <form class="navbar-form navbar-left" action="/search" method="post">
               <div class="form-group">
                  <input type="text" name="search" class="form-control" placeholder="Search Book"/>
               </div>
               <button type="submit" class="btn btn-default">Search</button>
            </form>
         </ul>
         <ul class = "nav navbar-nav navbar-right">
            {% if session['email'] %}

            <li class = "dropdown">
               <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                  Books
                  <b class = "caret"></b>
               </a>
               
               <ul class = "dropdown-menu">
                  <li><a href="/add-product">Add Book</a></li>
                  <li><a href="/product-list">Book List</a></li>
               </ul>
            
            </li>

            <li class = "dropdown">
               <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                  Profile
                  <b class = "caret"></b>
               </a>
               
               <ul class = "dropdown-menu">
                  <li><a href = "/profile">Edit Profile</a></li>
                  <li><a href = "/password">Edit Password</a></li>
                  <li><a href = "/logout">Logout</a></li>
               </ul>
            
            </li>
            {% else %}
            <li><a href = "/register">Register</a></li>
            <li><a href = "/login">Login</a></li>
            {% endif %}
            <li><a href = "#">    </a></li>
         </ul>
      </div>

   </nav>
   <div class="container">