{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Edit Password</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="post" action="">
	<div class="form-group">
		<label>Old Password</label>
		<input type="password" class="form-control" name="oldPassword">
		<label>New Password</label>
		<input type="password" class="form-control" name="newPassword">
		<label>New Password Repeat</label>
		<input type="password" class="form-control" name="newPassword2">
	</div>
	<button type="submit" class="btn btn-primary">Edit Password</button>
</form>
{% include 'foot.html' %}