{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Books List</h1>

   <div class="row">
      {% for book in books %} 
      <div class="col-md-4" style="padding:15px;">
         <a href="/detail/{{book.id}}">
            <div style="display:inline-block; border:solid 1px #808080; padding:15px">
              <div>
                <img class="img-responsive" alt="" src="data:image/jpg;base64, {{book.image}}" style="height: 200px; width: auto" />
                <h4>{{book.title}}</h4>
             </div>
             <a href="/edit-book/{{ book.id }}"><button class="btn btn-primary">Edit</button></a>
             <a href="/delete-book/{{ book.id }}" data-method="delete" ><button class="btn btn-danger">Hapus</button></a>
          </div>
           </a>
       </div>
      {% endfor %}
   </div>

{% include 'foot.html' %}