{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Edit Profile</h1>
<div class="container">
	<form class="form" action="" method="POST">
		<div class="form-group">
			<label>Nama</label>
			<input type="text" class="form-control" name="name" value="{{ user.name }}">
		</div>
		<div class="form-group">
			<label>E-mail</label>
			<input type="email" class="form-control" name="email" value="{{ user.email }}">
		</div>
		<div class="form-group">
			<label>Contact</label>
			<input type="text" class="form-control" name="contact" value="{{ user.contact }}">
		</div>
		<div class="form-group">
			<label>Kota</label>
			<input type="text" class="form-control" name="city" value="{{ user.city }}">
		</div>
		<button type="submit" class="btn btn-primary">Update Profile</button>

	</form>
</div>
{% include 'foot.html' %}